<app-navbar></app-navbar>
   <div class="container animate__animated animate__fadeInLeft">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/chat-pages-link.png" class="img-fluid  " alt="" srcset="">
        </div>
        <div class="col-md-6 pt-5 border-left">
            <p class="text-center">
               I have the deepest affection for intellectual Conversation. The ability to just sit and talk.
               About love,life,anything and everything.
            </p>
            <h4 class="text-center">Deep Conversation with the Right People are Pricesless</h4>
            <p class="text-center">
                
                <button class="btn btn-dark" (click)="view()">chat here</button>
                
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../assets/chat.gif"  class="img-fluid  alt=" srcset="">
        </div>
        <div class="col-md-6">
            <img src="../../assets/chat.gif"  class="img-fluid  alt=" srcset="">
        </div>
        <div class="col-md-12 border-top">
            <p class="text-center">I'm the Footer</p>
        </div>
    </div>
   </div>

